{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":17,"column":16},"action":"insert","lines":["/.web-server-pid","/app/config/parameters.yml","/build/","/phpunit.xml","/var/*","!/var/cache","/var/cache/*","!var/cache/.gitkeep","!/var/logs","/var/logs/*","!var/logs/.gitkeep","!/var/sessions","/var/sessions/*","!var/sessions/.gitkeep","!var/SymfonyRequirements.php","/vendor/","/web/bundles/","/web/elecciones/"],"id":1}],[{"start":{"row":17,"column":0},"end":{"row":17,"column":16},"action":"remove","lines":["/web/elecciones/"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":16,"column":13},"end":{"row":16,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1597501928429,"hash":"5e50aaff089f7434b8d59490f6b21509fd8f24ce"}