{"filter":false,"title":".htaccess","tooltip":"/web/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":739,"scrollleft":0,"selection":{"start":{"row":68,"column":0},"end":{"row":68,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":45,"state":"start","mode":"ace/mode/apache_conf"}},"timestamp":1517672020000,"hash":"281ebc1106e7d5b4739c3feeb24db06ef41171de"}