{% extends 'layout.html.twig' %}

{% block body %}
	{{ parent() }}
	
	    <div class="container-fluid alumnos">
        <div class="container alumnos-icon">
            <div class="row">
                <div class="col-sm-12">
                   <h2>Página en construcción...</h2>
                    <a href="{{ path('cya_usuario_inicio') }}" class="head-link">
        			        <h3>
        			           <i class="icon ion-android-arrow-dropleft-circle"></i>
        			            regresar al menú principal
        			         </h3>
        			    </a>
                </div>
                
            </div>
        </div>
    </div>
	

{% endblock %}