{"filter":false,"title":".htaccess","tooltip":"/app/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":0},"end":{"row":7,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1517671999000,"hash":"ed9d8c7cad65492f85bb047f83577c511db334ff"}